@font-face {
  font-family: "Exo 2.0";
  src: local("Exo 2.0 Thin"),
    url("../fonts/Exo2.0-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

/*font-family: "Exo 2.0", "Arial", sans-serif;*/
