.card {
  width: 320px;
}

.card__status {
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  text-align: center;

  &--not-available {
    color: #ffff66;
  }
}

.card__link {
  position: relative;

  color: #1698d9;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    top: 14px;
    width: 27px;
    height: 1px;

    background-image: linear-gradient(to right, #1698d9 0, #1698d9 3px, transparent 3px, transparent 6px);
    background-size: 5px 2px;
  }
}
