.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1280px;
  height: 100vh;

  margin: 0 auto;
  padding: 0 40px;
}

.main-page__cards {
  width: 100%;
  margin: 0;
}
