.poster {
  position: relative;
  min-height: 480px;
  padding-top: 21px;
  padding-left: 48px;

  border-radius: 12px;

  background-image: url("./img/photo.png"), url("./img/card-background.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -24px 208px, center;
  background-size: auto, 100% 100%;

  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-image: url("./img/card-border.svg");
    background-repeat: no-repeat;
    background-size: auto;
  }

  &:hover::after {
    background-image: url("./img/card-border-hover.svg");
  }

  &:hover .poster__weight {
    background-color: #2ea8e6;
  }
}

.poster--selected {
  &::after {
    background-image: url("./img/card-border-selected.svg");
  }

  & .poster__weight {
    background-color: #d91667;
  }

  &:hover::after {
    background-image: url("./img/card-border-selected-hover.svg");
  }

  &:hover .poster__weight {
    background-color: #e52e7a;
  }
}

.poster--disabled {
  cursor: auto;
  background-image: url("./img/photo.png"), url("./img/card-background.svg");

  &::after {
    background-image: url("./img/card-border-disabled.svg");
  }

  & .poster__weight {
    background-color: #b3b3b3;
  }

  &:hover::after {
    background-image: url("./img/card-border-disabled.svg");
  }

  &:hover .poster__weight {
    background-color: #b3b3b3;
  }
}

.poster__text {
  margin: 0;
  margin-bottom: 6px;
  color: #666666;
  font-size: 16px;
  line-height: 19px;
}

.poster__title {
  margin: 0;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
}

.poster__taste {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.poster__weight {
  position: absolute;

  right: 15px;
  bottom: 15px;
}
