.weight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 81px;
  width: 81px;

  margin: 0;
  padding-top: 21px;
  padding-bottom: 8px;

  border-radius: 50%;
  color: #ffffff;
  text-align: center;

  vertical-align: middle;
  background-color: #1698d9;
}

.weight__value {
  font-size: 42px;
  line-height: 22px;
}

.weight__measure {
  font-size: 21px;
  line-height: 22px;
}
